.App {
	text-align: center;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

button {
	transition: 0.1s;
	font-size: calc(10px + 2vmin);
	width: 250px;
	height: 40px;
	background-color: #00aaff;
	border: none;
	border-radius: 15px;
}

button:hover {
	background-color: #0066aa;
}
